@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
@import "tailwindcss";

:root{
  --main : #7F70E4;
  --bg : #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-bg: var(--bg);
  --font-sans: 'Roboto', 'Noto Sans KR', sans-serif;

  --animate-shimmer: shimmer 2s infinite;

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(200%);
    }
  }
}




.react-calendar button{
  cursor: pointer;
}

.react-calendar__tile {
  position: relative;
  height: 60px; 
}


.react-calendar__navigation {
  display: flex;
  margin-bottom: 24px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: 600;
  font-size: 0.875rem;
  color: #737373; 
}

.react-calendar__month-view__weekdays abbr {
  text-align: center;
  text-decoration: none !important; 
  cursor: default;
}

/*  화살표 버튼 자체의 영역과 크기 키우기 */
.react-calendar__navigation button {
  min-width: 24px;
  min-height: 44px;
  font-size: 1.25rem;
  cursor: pointer;
}

/* 내장된 화살표 기호(<, > 등) 또는 글자 크기 확실히 키우기 */
.react-calendar__navigation button span {
  font-size: 1.25rem;
  font-weight: bold;
}


@media screen and (min-width: 768px) {
  .react-calendar__tile {
    height: 50px; 

  }
  .react-calendar__navigation button span {
  font-size: 1rem;
  font-weight: bold;
   white-space: nowrap;
}


}

@media screen and (max-width: 768px) {
  .react-calendar__tile {
    height: 40px; 

  }
  .react-calendar__navigation button span {
  font-size: 1rem;
  font-weight: bold;
   white-space: nowrap;
}


}